<div id="container" (click)="setTooltipDisplay($event, false, false)">

  <div id="content">
    <h1>Coding Challenge For Front-end</h1>
    <button id="buttonA" (click)="setTooltipDisplay($event, true, false)">
      Button A
      <app-tooltip *ngIf="toolTipA" [toolTipText]="tooltipContentA"></app-tooltip>
    </button>

    <button id="buttonB" (click)="setTooltipDisplay($event, false, true)">
      Button B
      <app-tooltip *ngIf="toolTipB" [toolTipText]="tooltipContentB"></app-tooltip>
    </button>
    <router-outlet></router-outlet>
  </div>

</div>
